**/Dockerfile
**/.dockerignore
**/README.md
**/.git*

# Cmake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

dis-viz-cli/build
dis-viz-cli/.vscode
dis-viz-cli/.cache
sample_inputs/bin

# Exclude webapp from Docker build
dis-viz-webapp