.assemblycode {
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.hidablebtn {
    text-align: start;
    position: relative;
    left: -10px;
    border: none;
    background-color: transparent;
}

.hidablegutter {
    background-color: red;
    width: 2px;
    height: 13px;
    position: relative;
    display: inline-block;
    left: -2px;
    top: 1px;
}

.hidablebtn.open::before {
    content: " >\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
}

.hidablebtn.closed::before {
    content: " V\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
}

.assemblycode.hoverable:hover {
    background-color: #ddd;
    border: 2px solid black;
    cursor: pointer;
}

mark {
    background-color: transparent !important;
}

mark[data-type="mnemonic"] {
    font-style: italic;
    color: maroon;
}

mark[data-type='register'] {
    color: purple;
}

mark[data-type='variable'] {
    display: inline-block;
    border-radius: 0.3em;
    border: 1px solid;
    background: rgba(67, 198, 252, 0.2);
    border-color: rgb(67, 198, 252); 
}

mark[data-type='variable']::after {
    box-sizing: border-box;
    content: attr(data-varname);
    font-size: 0.8em;
    line-height: 1;
    padding: 0.35em;
    border-radius: 0.35em;
    display: inline-block;
    vertical-align: middle;
    margin: 0px 0px 0.1rem 0.5rem;
    background: rgb(67, 198, 252); 
}

span.hex-number {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: #fcd7d4;
}

/* For toggle of focus */
.toggle {
    --width: 80px;
    --height: calc(var(--width) / 3);

    width: var(--width);
    height: var(--height);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.toggle input {
    display: none;
}

.toggle .labels {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-family: sans-serif;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
}

.toggle .labels::after {
    content: attr(data-off);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: #4d4d4d;
    background-color: #f19999;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    transition: all 0.4s ease-in-out;
}

.toggle .labels::before {
    content: attr(data-on);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: calc(var(--width) * -1);
    height: 100%;
    width: 100%;
    color: #ffffff;
    background-color: #4fe132;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
    transition: all 0.4s ease-in-out;
}

.toggle input:checked~.labels::after {
    transform: translateX(var(--width));
}

.toggle input:checked~.labels::before {
    transform: translateX(var(--width));
}

.tooltipitem {
    position: absolute;
    z-index: 5;
    background-color: white;
    border: 1px solid green;
    padding: 3px;
    color: green;
    top: 20px;
    left: 200px;
}

button.opennewbutton:hover {
    background-color: #aaa;
    border: 2px solid black;
    cursor: pointer;
}

div.pseudoloop:hover {
    background-color: #D3D3D3;
    border: 2px solid black;
}

svg.backedge {
    width: 60px;
    height: 100px;
    position: absolute;
    top: -80px;
    left: 400px;
}

svg.backedge path {
    
}

svg.backedge .block:hover {
    fill: #D3D3D3;
    border: 1px solid #FAF9F6;
}