li.sourcename button {
    min-height: 50px;
    padding: 10px;
    width: 100%;
    text-align: left;
    border: 1px solid lightblue;
    border-radius: 10px;
    margin-bottom: 10px;
    background: lightblue;
    direction: rtl;
    unicode-bidi: bidi-override;
    overflow: hidden;
    text-overflow: ellipsis;
}

li.sourcename button:hover {
    border: 1px solid blue;
}

.binary-index {
    margin-right: 10px;
    background-color: lightblue;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}