.monaco-editor .cursor {
    display: none !important;
}

.monaco-editor .line-numbers {
    color: lightgray !important;
}

.monaco-editor .line-numbers.hasCorrespondence {
    color: darkblue !important;
    font-weight: 900;
}

.no-text-selection {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.monaco-editor .selected-line {
    background-color: #c7dfc5 !important;
    border: 1px solid gray;
    cursor: pointer;
}

.mouseHoverHighlight {
    background-color: #ddd;
    border: 1px solid gray;
}

.monaco-editor .glyph-margin {
    position: flex;
    gap: 5px;
    padding: 0 5px;
}