.codesegment > span:hover {
    background-color: #ddd;
    border: 2px solid black;
    cursor: pointer;
}

.codesegment > span:hover::before {
    content: '';
    background: url('../assets/icons8-external-link-64.png');
    background-size: 20px 20px;
    display: block;
    float: right;
    width: 20px;
    height: 20px;
}