.monaco-editor .cursor {
    display: none !important;
}

.mouseHoverHighlight {
    background-color: #ddd;
    border: 1px solid gray;
}

.hasCorrespondence {
    /* background-color: lightgreen; */
    color: red!;
    font-weight: 900;
}

.VECTORIZED::after {
    content: "VEC";
    color: #fff;
    background-color: #007acc;
    padding: 0 5px;
    margin-left: 16px;
    border-radius: 5px;
}

.INLINE::after {
    content: "INLINE";
    color: #fff;
    background-color: brown;
    padding: 0 5px;
    margin-left: 16px;
    border-radius: 5px;
}

.no-text-selection {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.selectedLines-0 {
    background-color: #C1DBE3;
    border: 1px solid gray;
    cursor: pointer;
}
.selectedLines-1 {
    background-color: #C7DFC5;
    border: 1px solid gray;
    cursor: pointer;
}
.selectedLines-2 {
    background-color: #F6FEAA;
    border: 1px solid gray;
    cursor: pointer;
}
.selectedLines-3 {
    background-color: #FCE694;
    border: 1px solid gray;
    cursor: pointer;
}